.product_list {
    .product_card {
        // box-shadow: 0 2px 15px -3px black;
        width: 100%;
        // transition: all 0.3s linear;


        .seller_name {
            color: #747d84;
            font-size: small;

        }

        .prize {
            font-size: small;
            padding-top: 7px;
            font-weight: bold;
        }
    }

    .product_card:hover {
        cursor: pointer;
    }

    // .product_card:hover {
    //     background-color: black;

    //     .product_title {
    //         color: #ffff;
    //     }
    //     .prize{
    //         color: #ffff;
    //     }

    //     .add_to_Cart {
    //         background-color: #ffff;
    //         color: black;
    //     }
    // }
}

.card {
    min-height: 500px;
    position: relative;

    .img_box {
        text-align: center;
        padding-top: 10px;

        img {
            width: 80%;
        }
    }

    .prize {
        position: absolute;
        bottom: 50px;
        left: 25px;
        color: green;
    }

    .add_to_cart {
        position: absolute;
        width: 87%;
        bottom: 0;


    }
}