.sidebar{
    position: absolute;
    width: 200px;
    top:100%;
    right:0px;
    background-color: gray;
    transition: all 0.3s linear;
    transform:translateX(110%)
}

.Yourself{
    position: relative;
    top:-145px
}

.nav-pills li :hover{
    background-color: rgb(104, 104, 104);
}

