.sidebar{
    position: absolute;
    width: 16%;
    top:99%;
    right:0px;
    // background-color: gray;
}

.Yourself{
    position: relative;
    top:-145px
}

.nav-pills li :hover{
    background-color: rgb(104, 104, 104);
}
