.product_details {

  /* In your CSS stylesheet */
  .zoom-on-hover {
    transition: transform 0.3s;
    /* Add a smooth transition effect */
  }

  .zoom-on-hover:hover {
    transform: scale(1.2);
    /* Increase the scale to zoom in (1.2 means 120% of the original size) */
  }

  .quantity {
    width: 20% !important;
    margin-right: 5px;
    text-align: center;
    color: #999999;
    border: 1px solid  #999999;
  }

  .price {
    color: #999999;
    font-size: medium;
  }

  .add_to_cart{
    font-size: small;
  }

  .seller_name{
    font-size: medium;
  }
}