ul{
    list-style-type: none; 
}

option{
    background-color: rgb(104, 104, 104);
}

.dropdown-menu{
    background-color: rgb(104, 104, 104);
}

.header{
    position:fixed;
}

.sidebar {
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar.closed {
    transform: translateX(100%);
  }